/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  background: rgb(241, 241, 241);
  font-family: "Montserrat", sans-serif;
}

.side {
  position: absolute;
  /*TODO:top: 5%;*/
  transform: translateY(25%);
}

.side a {
  background: #e74c3c;
  color: #ffffff;
  font-size: 22px;
  display: block;
  width: 180px;
  padding: 12px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0 6px 6px 0;
  margin-left: -150px;
  transition: 0.6s all;
}

.side a:hover {
  margin-left: 0;
  box-shadow: 2px 5px 20px rgb(154, 155, 155);
}

.inp input {
  position: absolute;
  transform: translatex(50%);
  right: 50%;
  color: rgb(14, 14, 14);
  font-size: 20px;
  padding: 12px;
  border: 2px solid;
  border-color: #28b3a5;
  border-radius: 5px;
  background: #b3e9e4;
  width: 600px;
  margin: 50px 0 0 0;
  box-shadow: 2px 3px 10px rgb(154, 155, 155);
  transition: 0.6s all;
}

.inp input:hover {
  box-shadow: -2px -3px 10px rgb(154, 155, 155);
}

.introduction input {
  position: absolute;
  transform: translatex(50%);
  right: 50%;
  color: rgb(14, 14, 14);
  font-size: 20px;
  padding: 12px;
  border: 2px solid;
  border-color: #28b3a5;
  border-radius: 5px;
  background: #b3e9e4;
  width: 600px;
  margin: 110px 0 0 0;
  box-shadow: 2px 3px 10px rgb(154, 155, 155);
  transition: 0.6s all;
}

.introduction input:hover {
  box-shadow: -2px -3px 10px rgb(154, 155, 155);
}
